/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 100px;
   
    padding: 10px;
    box-shadow: 4px 4px 4px #747373;
}
.logo img{
    height: 80px;
    width: 220px;
    object-fit: cover;
    background-color: transparent;
    cursor: pointer;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
margin-left: 25px;
}
.navbar{
   
    width:300px ;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style-type: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 19px;
    transition: all 0.5s;
}
li:hover{
    color: orangered;
}
.login-in{
   
    margin-right:100px;
}
.login{
    text-align: center;
    font-size: 21px;
    border: 1px solid #000;
    padding: 10px 14px;
    border-radius: 4px;

}
.btn{
    background-color: #4A249D;
    padding: 12px 14px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    color: #fff;
    border-radius: 4px;
   margin-left: 15px;
} */